<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title th:text="${title} ?: 'Your Cart'">Your Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            updateSubtotalAndFinalTotal()
            console.log(updateSubtotalAndFinalTotal());
            document.getElementById('Totalvalue').value = updateSubtotalAndFinalTotal();
            document.getElementById('Total').innerText = updateSubtotalAndFinalTotal().toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
        });

        function updateSubtotalAndFinalTotal() {
            // Tính toán subtotal
            let subtotal = 0;
            document.querySelectorAll('#cartItemsBody td[id="totalitem"]').forEach(function (item) {
                let totalItemValue = parseFloat(item.getAttribute('data-total'));
                subtotal += totalItemValue;
            });

            // Cập nhật subtotal
            document.getElementById('subtotal').innerText = subtotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

            // Lấy phí vận chuyển
            let shippingFee = parseFloat(document.getElementById('shippingFee').getAttribute('data-shipingFee'));
            console.log(subtotal+" "+shippingFee);
            // Cập nhật final total
            let finalTotal = subtotal + shippingFee;
            return finalTotal;
            console.log(Total);
            
        }
    </script>
</head>

<body>
    <section layout:fragment="content">
        <h1>Your Cart</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="product-summary">
                        <h2 class="text-center">Thông Tin Đơn Hàng</h2>
                        <div th:if="${cartItems.isEmpty()}" class="alert alert-info">Your cart is empty.</div>
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="cartItemsBody">
                                <tr th:each="item : ${cartItems}">
                                    <td><img th:src="@{/images/} + ${item.product.imageURL}" alt="Product Image"
                                            style="width: 50px; height: 50px;"></td>
                                    <td th:text="${item.product.name}"></td>
                                    <td th:text="${item.quantity}"></td>
                                    <td th:text="${item.product.price}+đ"></td>
                                    <td th:text="${item.product.price * item.quantity}+đ"
                                        th:data-total="${item.product.price * item.quantity}" id="totalitem"></td>
                                    <td><a th:href="@{/cart/remove/{productId}(productId=${item.product.id})}"
                                            class="btn btn-danger btn-sm">Remove</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-3 d-flex">
                            <a th:href="@{/cart/clear}" class="btn btn-success mb-3 mr-4">Clear Cart</a>
                            <a th:href="@{/products}" class="btn btn-primary mb-3 mr-4">Home</a>

                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Phí vận chuyển</span>
                            <span id="shippingFee" data-shipingFee="25000">25.000đ</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Tạm tính</span>
                            <strong class="text-primary" id="subtotal"></strong>
                        </div>

                        <hr>
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                        <h5>Thông tin nhận hàng</h5>
                        <form th:action="@{/order/submit}" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" id="customerEmail" name="customerEmail" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customerName" name="customerName" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customerPhone" name="customerPhone" class="form-control" placeholder="Phone" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customerAddress" name="customerAddress" class="form-control" placeholder="Address" required>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="oderStatus" id="oderStatus" class="form-control" placeholder="Note"></textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <strong>Tổng cộng</strong>
                                <span id="Total" name="total" th:text="${Total}"></span>
                                <input type="hidden" name="total" id="Totalvalue"  />
                            </div>
                            <div class="d-flex" style="align-items: flex-start; flex-direction: column;">
                                <div class="card-header">
                                    <h5>Thanh toán</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="paymentOption" id="codOption"
                                            checked>
                                        <label class="form-check-label" for="codOption">Thanh toán khi giao hàng (COD) <i
                                                class="ml-2 fas fa-money-bill-wave"></i></label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="paymentOption" id="momoOption">
                                        <label class="form-check-label" for="momoOption">Thanh toán ví momo <i
                                                class="ml-2 fas fa-money-bill-wave"></i></label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Order</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>