body {
    background: url(../images/br2.jpg) no-repeat center;
    background-size: cover;
    height: 100vh; /* Chiều cao của hình nền bằng chiều cao của màn hình */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Loại bỏ margin mặc định của body */
}


.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 0.8); /* Màu nền trong suốt */
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 90%; /* Để input đầy đủ chiều rộng của parent */
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 0.5); /* Viền mờ với độ trong suốt 50% */
    outline: 0;
    background-color: rgba(17, 24, 39, 0.5); /* Màu nền trong suốt cho input */
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    transition: border-color 0.2s ease; /* Hiệu ứng chuyển đổi màu viền khi focus */
}

.input-group input:focus {
    border-color: rgba(167, 139, 250, 0.8); /* Viền khi focus với độ trong suốt 80% */
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a, .signup a, .signin a  {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover, .signup a:hover, .signin a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}


.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}
.signin {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

.forgot-password {
    display: none; /* Mặc định ẩn form khi chưa được kích hoạt */
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 0.8); /* Màu nền trong suốt */
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    position: absolute; /* Để form này nằm chồng lên form đăng nhập khi cần */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ nhẹ */
    
}

.forgot-password .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.forgot-password .form {
    margin-top: 1.5rem;
}

.forgot-password .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.forgot-password .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.forgot-password .input-group input {
    width: 90%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    margin-bottom: 2rem;
}

.forgot-password .input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.forgot-password .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin-top: 1rem;
}

.forgot-password .signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
}

.forgot-password .signup a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 90%;
  }
  
  .example-2 .icon-content a[data-social="google"] .filled,
  .example-2 .icon-content a[data-social="google"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #fd1f1f,
      #d6f10b,
      #23f542,
      #405de6
      
    );
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="facebook"] .filled,
  .example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #3217e6;
  }
  