<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Green</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/Script.js"></script>
</head>


<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-color" style="color: white;">
        <a class="navbar-brand text-white" href="/products">
            <img src="/images/logo9.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            <button onclick="searchProducts()" class="btn btn-primary">Search</button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="font-size: 20px;">
                <li class="nav-item">
                    <a class="nav-link" href="/products" style="color: white;">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                    <div id="categoryId" class="dropdown-menu" aria-labelledby="dashboardDropdown">

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="dashboardDropdown"
                        sec:authorize="hasAnyAuthority('ADMIN')" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dash board
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dashboardDropdown">
                        <a class="dropdown-item" href="/admin/products/list">Quản lý Sản phẩm</a>
                        <a class="dropdown-item" href="/admin/categories/list">Quản lý Loại sản phẩm</a>
                        <a class="dropdown-item" href="/admin/employee/list">Quản lý Nhân viên</a>
                        <a class="dropdown-item" href="/admin/products/list">Doanh thu</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text"></span>
            <a class="nav-link " href="/cart" style="margin-left: 20px; margin-right: 25px;"><i
                    class="fa-solid fa-basket-shopping"></i></a>

            <div sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown" style="display: inline;">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào, <span sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </div>

            <!-- Nút Login khi chưa đăng nhập -->
            <div sec:authorize="!isAuthenticated()" style="display: inline;">
                <a href="/login">
                    <button class="Btn">
                        <div class="sign"><svg viewBox="0 0 512 512">
                                <path
                                    d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
                                </path>
                            </svg></div>
                        <div class="text">Login</div>
                    </button>
                </a>
            </div>
        </div>
    </nav>
    <!--Section-->
    <div class="container mt-5">
        <section layout:fragment="content">
            <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
        </section>
    </div>
    <!-- Footer -->
    <div class="container mt-5">
        <div class="row contact-section">
            <div class="col-md-6">
                <div class="contact-info">
                    <img src="/images/logo9.png" style="width: 150px;" alt="Logo">
                    <div>
                        <h4>All Green</h4>
                        <p>Think Act Protect</p>
                    </div>
                </div>
                <div class="contact-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Tầng 6 toà nhà Ladeco, 266 Đội Cấn, Ba Đình, Hà Nội</p>
                </div>
                <div class="contact-info">
                    <i class="fas fa-phone-alt"></i>
                    <p>1900 6750</p>
                </div>
                <div class="contact-info">
                    <i class="fas fa-envelope"></i>
                    <p>support@sapo.vn</p>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Họ tên">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="4" placeholder="Nội dung"></textarea>
                    </div>
                    <button type="submit" class="btn btn-submit">Gửi</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="adModal" class="modal-small">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="/images/logo9.png" height="213" width="398" />
        </div>
    </div>

    <script src="/js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/d771e5aa2b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            loadCategories()
        });
    </script>
</body>

</html>