<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Green</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="/products">
            RAU SACH
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="font-size: 20px;">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dashboardDropdown"
                        sec:authorize="hasAnyAuthority('ADMIN')" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dash board
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dashboardDropdown">
                        <a class="dropdown-item" href="/admin/products/list">Quản lý Sản phẩm</a>
                        <a class="dropdown-item" href="#">Quản lý Loại sản phẩm</a>
                        <a class="dropdown-item" href="#">Quản lý Nhân viên</a>
                        <a class="dropdown-item" href="#">Doanh thu</a>
                    </div>
                </li>
                <span class="navbar-text"></span>
                <a class="nav-link " href="http://127.0.0.1:5500/Web/order.html"><i
                        class="fa-solid fa-basket-shopping"></i></a>
            </ul>

            <div sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào, <span sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </div>

            <!-- Nút Login khi chưa đăng nhập -->
            <div sec:authorize="!isAuthenticated()" style="display: inline;">
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="/login">Login</a>
                </li>
            </div>
        </div>
    </nav>
    <!--Section-->
    <div class="container mt-5">
        <section layout:fragment="content">
            <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
        </section>
    </div>
    <script src="https://kit.fontawesome.com/d771e5aa2b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>