<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Green</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="/products">
            RAU SACH
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="font-size: 20px;">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Trang chủ</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/admin/dash-board}" class="nav-link text-white">Dash board</a>
                </li>
            </ul>
            <span class="navbar-text"></span>
            <a class="nav-link " href="http://127.0.0.1:5500/Web/order.html"><i
                    class="fa-solid fa-basket-shopping"></i></a>
                    
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào, <span sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </div>

            <!-- Nút Login khi chưa đăng nhập -->
            <div sec:authorize="!isAuthenticated()" style="display: inline;">
                <li class="nav-item" >
                    <a class="btn btn-outline-light" href="/login">Login</a>
                </li>
            </div>
        </div>
    </nav>
    <!--Section-->
    <div class="container">
        <section layout:fragment="content">
            <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
        </section>
    </div>
    <!-- Footer -->
    <!-- <div class="container mt-5">
        <div class="row contact-section">
            <div class="col-md-6">
                <div class="contact-info">
                    <img src="https://via.placeholder.com/50" alt="Logo">
                    <div>
                        <h4>All Green</h4>
                        <p>Think Act Protect</p>
                    </div>
                </div>
                <div class="contact-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Tầng 6 toà nhà Ladeco, 266 Đội Cấn, Ba Đình, Hà Nội</p>
                </div>
                <div class="contact-info">
                    <i class="fas fa-phone-alt"></i>
                    <p>1900 6750</p>
                </div>
                <div class="contact-info">
                    <i class="fas fa-envelope"></i>
                    <p>support@sapo.vn</p>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Họ tên">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="4" placeholder="Nội dung"></textarea>
                    </div>
                    <button type="submit" class="btn btn-submit">Gửi</button>
                </form>
            </div>
        </div>
    </div> -->
    <script src="https://kit.fontawesome.com/d771e5aa2b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>